# Statistics

In [93]:
import pandas as pd
import numpy as np
from scipy import stats

In [94]:
df = pd.read_csv("added_features.csv", index_col = False)

In [95]:
df.head()

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western,Bad Words
0,The Shawshank Redemption,1994,142,9.3,82.0,28.34,"27,77,378","Over the course of several years, two convicts...","(278, [18, 80])",278.0,...,0,0,0,0,0,0,0,0,0,100
1,The Godfather,1972,175,9.2,100.0,134.97,"19,33,588","Don Vito Corleone, head of a mafia family, dec...","(238, [18, 80])",238.0,...,0,0,0,0,0,0,0,0,0,20
2,The Dark Knight,2008,152,9.0,84.0,534.86,"27,54,087",When the menace known as the Joker wreaks havo...,"(155, [18, 28, 80, 53])",155.0,...,0,0,0,0,0,0,1,0,0,5
3,Schindler's List,1993,195,9.0,95.0,96.9,"13,97,886","In German-occupied Poland during World War II,...","(424, [18, 36, 10752])",424.0,...,0,0,0,0,0,0,0,1,0,16
4,12 Angry Men,1957,96,9.0,97.0,4.36,"8,24,211",The jury in a New York City murder trial is fr...,"(389, [18])",389.0,...,0,0,0,0,0,0,0,0,0,1

### Shortest movie

In [96]:
df.loc[df['Watch Time'] == df['Watch Time'].min()]

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western,Bad Words
202,Sherlock Jr.,1924,45,8.2,8.2,0.98,"53,380","A film projectionist longs to be a detective, ...","(992, [28, 35, 9648])",992.0,...,0,0,1,0,0,0,0,0,0,0

### Longest movie

In [97]:
df.loc[df['Watch Time'] == df['Watch Time'].max()]

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western,Bad Words
183,Gangs of Wasseypur,2012,321,8.2,89.0,NaN,"1,00,060",A clash between Sultan and Shahid Khan leads t...,"(117691, [28, 53, 80])",117691.0,...,0,0,0,0,0,0,1,0,0,3

## Here's a list of means/medians/stds

In [69]:
df.describe()

,Year of Release,Watch Time,Movie Rating,Metascore of movie,TMDB_Id,Action,Adventure,Animation,Comedy,Crime,...,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western,Bad Words
count,1000.000000,1000.000000,1000.000000,845.000000,9.930000e+02,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000
mean,1991.666000,124.253000,7.970200,79.011834,1.149451e+05,0.185000,0.158000,0.081000,0.219000,0.188000,...,0.037000,0.027000,0.088000,0.157000,0.091000,0.002000,0.2000,0.076000,0.025000,29.392000
std,24.188045,28.800355,0.275732,11.973800,2.152426e+05,0.388492,0.364924,0.272972,0.413776,0.390908,...,0.188856,0.162164,0.283437,0.363983,0.287753,0.044699,0.4002,0.265131,0.156203,60.316236
min,1920.000000,45.000000,7.600000,28.000000,1.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,-1.000000
25%,1975.000000,103.000000,7.800000,71.000000,8.570000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,1.000000
50%,1999.000000,120.000000,7.900000,80.000000,1.031500e+04,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,7.000000
75%,2011.000000,139.000000,8.100000,88.000000,1.004020e+05,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,31.000000
max,2023.000000,321.000000,9.300000,100.000000,1.131438e+06,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.000000,686.000000

## Watchtime by year of release

In [70]:
df.groupby('Year of Release')['Watch Time'].mean()

Year of Release
1920     76.000000
1921     68.000000
1922     94.000000
1924     45.000000
1925     85.000000
           ...
2019    135.115385
2020    119.666667
2021    147.090909
2022    141.833333
2023    160.400000
Name: Watch Time, Length: 102, dtype: float64

## Movie Rating by year of release

In [71]:
df.groupby('Year of Release')['Movie Rating'].mean()

Year of Release
1920    8.000000
1921    8.300000
1922    7.900000
1924    8.200000
1925    8.000000
          ...
2019    8.034615
2020    8.088889
2021    8.109091
2022    8.072222
2023    8.300000
Name: Movie Rating, Length: 102, dtype: float64

## Metascore by year of release

In [72]:
df.groupby('Year of Release')['Metascore of movie'].mean()

Year of Release
1920          NaN
1921          NaN
1922          NaN
1924          NaN
1925    97.000000
          ...
2019    77.789474
2020    83.875000
2021    73.285714
2022    77.454545
2023    79.400000
Name: Metascore of movie, Length: 102, dtype: float64

# Heres some extra work

In [73]:
genre_keys = {

    28       :   "Action",
    12       :   "Adventure",
    16       :   "Animation",
    35       :   "Comedy",
    80       :   "Crime",
    99       :   "Documentary",
    18       :   "Drama",
    10751    :   "Family",
    14       :   "Fantasy",
    36       :   "History",
    27       :   "Horror",
    10402    :   "Music",
    9648     :   "Mystery",
    10749    :   "Romance",
    878      :   "SciFi",
    10770    :   "TV",
    53       :   "Thriller",
    10752    :   "War",
    37       :   "Western"
    
}

## Total number of movies in each genre

In [74]:
genre_totals = []
for genre in genre_keys.values():
    genre_totals.append((genre, df[genre].sum()))
    
genre_totals.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_totals:
    print("{:12s} {:3d}".format(genre, total))

Drama        670
Comedy       219
Thriller     200
Crime        188
Action       185
Adventure    158
Romance      157
SciFi         91
Fantasy       89
Mystery       88
History       85
Animation     81
Family        78
War           76
Horror        37
Music         27
Western       25
Documentary    4
TV             2

## Total watchtime per genre

In [75]:
genre_watchtime = []
for genre in genre_keys.values():
    genre_watchtime.append((genre, df.loc[df[genre] == 1]['Watch Time'].sum()))
    
genre_watchtime.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_watchtime:
    print("{:12s} {:3d}".format(genre, total))

Drama        85154
Thriller     24869
Action       24865
Comedy       24726
Crime        23735
Adventure    20278
Romance      19312
History      12006
SciFi        11150
Mystery      10925
Fantasy      10620
War          10203
Animation    8191
Family       8150
Horror       4033
Music        3295
Western      3255
Documentary  512
TV           277

## Average watchtime per genre

In [76]:
genre_watchtime_avg = []
for genre in genre_keys.values():
    genre_watchtime_avg.append((genre, df.loc[df[genre] == 1]['Watch Time'].mean()))
    
genre_watchtime_avg.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_watchtime_avg:
    print("{:12s} {:3.2f}".format(genre, total))

History      141.25
TV           138.50
Action       134.41
War          134.25
Western      130.20
Adventure    128.34
Documentary  128.00
Drama        127.10
Crime        126.25
Thriller     124.34
Mystery      124.15
Romance      123.01
SciFi        122.53
Music        122.04
Fantasy      119.33
Comedy       112.90
Horror       109.00
Family       104.49
Animation    101.12

## Correlation between animation and Family

In [77]:
df[['Family', 'Animation']].corr()

             Family  Animation
Family     1.000000   0.610688
Animation  0.610688   1.000000

In [78]:
df.loc[(df['Family'] == 1) & (df['Animation'] == 0)].shape[0]

27

In [79]:
from sklearn.metrics import confusion_matrix

In [80]:
conf = confusion_matrix(df['Family'], df['Animation'])
print("Not Animation, Not Familly: ", conf[0][0])
print("Yes Animation, Not Familly: ", conf[0][1])
print("Not Animation, Yes Familly: ", conf[1][0])
print("Yes Animation, Yes Familly: ", conf[1][1])

Not Animation, Not Familly:  892
Yes Animation, Not Familly:  30
Not Animation, Yes Familly:  27
Yes Animation, Yes Familly:  51

## Metascore vs Rating

In [81]:
genre_rating_avg = []
for genre in genre_keys.values():
    genre_rating_avg.append((genre, df.loc[df[genre] == 1]['Movie Rating'].mean()))
    
genre_rating_avg.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_rating_avg:
    print("{:12s} {:3.2f}".format(genre, total))

War          8.01
Action       8.00
Crime        7.99
SciFi        7.99
Adventure    7.99
History      7.99
Fantasy      7.98
Drama        7.98
Western      7.98
Mystery      7.96
Documentary  7.95
Family       7.95
Thriller     7.94
Animation    7.94
Horror       7.93
Romance      7.93
Comedy       7.92
Music        7.91
TV           7.80

In [82]:
genre_metascore_avg = []
for genre in genre_keys.values():
    genre_metascore_avg.append((genre, df.loc[df[genre] == 1]['Metascore of movie'].mean()))
    
genre_metascore_avg.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_metascore_avg:
    print("{:12s} {:3.2f}".format(genre, total))

Romance      80.96
Western      80.96
War          80.73
Horror       80.58
History      80.39
Animation    80.35
Family       80.29
Drama        79.47
Mystery      79.44
Fantasy      78.97
Comedy       78.84
Thriller     77.59
Adventure    77.52
Crime        76.92
Music        76.35
SciFi        75.95
Documentary  75.25
Action       73.81
TV           70.00

In [83]:
df[['Metascore of movie', 'Movie Rating']].corr()

                    Metascore of movie  Movie Rating
Metascore of movie             1.00000       0.25697
Movie Rating                   0.25697       1.00000

In [84]:
gt = df.loc[df['Metascore of movie'] > df['Movie Rating'] * 10].shape[0]
lt = df.loc[df['Metascore of movie'] < df['Movie Rating'] * 10].shape[0]
eq = df.loc[df['Metascore of movie'] == df['Movie Rating'] * 10].shape[0]

print("Instances with Metascore greater than Rating:  {}".format(gt))
print("Instances with Metascore less than Rating:     {}".format(lt))
print("Instances with Metascore equal to Rating:      {}".format(eq))

Instances with Metascore greater than Rating:  424
Instances with Metascore less than Rating:     391
Instances with Metascore equal to Rating:      30

# Genre by Year

In [85]:
def handleYears(value):
    
    try: 
        int(value)
        return int(value)
    except:
        return int(value.split(sep=" ")[1])

df['Year of Release'] = df['Year of Release'].apply(handleYears)

In [86]:
df['Year of Release'].value_counts()

2004    31
2014    31
2013    28
2016    27
2001    26
        ..
1930     1
1922     1
1921     1
1924     1
1943     1
Name: Year of Release, Length: 102, dtype: int64

## Top 3 genres by year

In [87]:
def topK(genre_count):
    return [t[0] for t in sorted(genre_count.items(), key = lambda x : x[1], reverse = True)[:3]]

In [88]:
for year in range(1920, 2024):
    genre_count = {genre: 0 for genre in genre_keys.values()}

    for genre in genre_keys.values():
        genre_count[genre] = df.loc[df['Year of Release'] == year][genre].sum()
    
    print("Year:", year, topK(genre_count))

Year: 1920 ['Crime', 'Drama', 'Horror']
Year: 1921 ['Comedy', 'Family', 'Fantasy']
Year: 1922 ['Drama', 'Fantasy', 'Horror']
Year: 1923 ['Action', 'Adventure', 'Animation']
Year: 1924 ['Action', 'Comedy', 'Mystery']
Year: 1925 ['Drama', 'Adventure', 'Comedy']
Year: 1926 ['Action', 'Adventure', 'Comedy']
Year: 1927 ['Drama', 'Romance', 'SciFi']
Year: 1928 ['Comedy', 'Drama', 'History']
Year: 1929 ['Action', 'Adventure', 'Animation']
Year: 1930 ['Drama', 'War', 'Action']
Year: 1931 ['Drama', 'Comedy', 'Crime']
Year: 1932 ['Drama', 'Action', 'Crime']
Year: 1933 ['Action', 'Adventure', 'Comedy']
Year: 1934 ['Comedy', 'Crime', 'Mystery']
Year: 1935 ['Comedy', 'Drama', 'Horror']
Year: 1936 ['Comedy', 'Drama', 'Action']
Year: 1937 ['Animation', 'Drama', 'Family']
Year: 1938 ['Comedy', 'Romance', 'Adventure']
Year: 1939 ['Drama', 'Adventure', 'Comedy']
Year: 1940 ['Comedy', 'Romance', 'Drama']
Year: 1941 ['Mystery', 'Adventure', 'Comedy']
Year: 1942 ['Comedy', 'Drama', 'Romance']
Year: 1943 ['Crime', 'Thriller', 'Action']
Year: 1944 ['Crime', 'Drama', 'Mystery']
Year: 1945 ['Drama', 'Crime', 'History']
Year: 1946 ['Drama', 'Romance', 'Fantasy']
Year: 1947 ['Drama', 'Comedy', 'Crime']
Year: 1948 ['Drama', 'Crime', 'Thriller']
Year: 1949 ['Crime', 'Drama', 'Thriller']
Year: 1950 ['Drama', 'Crime', 'Romance']
Year: 1951 ['Drama', 'Thriller', 'Adventure']
Year: 1952 ['Drama', 'Comedy', 'Romance']
Year: 1953 ['Drama', 'Comedy', 'Romance']
Year: 1954 ['Drama', 'Crime', 'Thriller']
Year: 1955 ['Drama', 'Crime', 'Thriller']
Year: 1956 ['Crime', 'Drama', 'Horror']
Year: 1957 ['Drama', 'History', 'War']
Year: 1958 ['Drama', 'Thriller', 'Crime']
Year: 1959 ['Drama', 'Crime', 'History']
Year: 1960 ['Drama', 'Adventure', 'Comedy']
Year: 1961 ['Drama', 'Horror', 'Mystery']
Year: 1962 ['Drama', 'Thriller', 'War']
Year: 1963 ['Drama', 'Comedy', 'Mystery']
Year: 1964 ['Drama', 'Comedy', 'Action']
Year: 1965 ['Drama', 'Romance', 'Family']
Year: 1966 ['Drama', 'History', 'War']
Year: 1967 ['Drama', 'Crime', 'Romance']
Year: 1968 ['Drama', 'Adventure', 'Horror']
Year: 1969 ['Western', 'Action', 'Comedy']
Year: 1970 ['Drama', 'Crime', 'History']
Year: 1971 ['Drama', 'Action', 'Comedy']
Year: 1972 ['Drama', 'Adventure', 'Mystery']
Year: 1973 ['Drama', 'Crime', 'Comedy']
Year: 1974 ['Crime', 'Drama', 'Comedy']
Year: 1975 ['Drama', 'Adventure', 'Action']
Year: 1976 ['Drama', 'History', 'Action']
Year: 1977 ['Action', 'Adventure', 'Comedy']
Year: 1978 ['Drama', 'Horror', 'Action']
Year: 1979 ['Drama', 'Comedy', 'Horror']
Year: 1980 ['Drama', 'Action', 'Comedy']
Year: 1981 ['Action', 'Adventure', 'Drama']
Year: 1982 ['Drama', 'Adventure', 'SciFi']
Year: 1983 ['Drama', 'Action', 'Adventure']
Year: 1984 ['Drama', 'Action', 'Comedy']
Year: 1985 ['Comedy', 'Drama', 'Adventure']
Year: 1986 ['Drama', 'Action', 'Comedy']
Year: 1987 ['Drama', 'Thriller', 'Action']
Year: 1988 ['Drama', 'Animation', 'Crime']
Year: 1989 ['Drama', 'Adventure', 'Comedy']
Year: 1990 ['Drama', 'Crime', 'Fantasy']
Year: 1991 ['Drama', 'Comedy', 'Thriller']
Year: 1992 ['Drama', 'Adventure', 'Comedy']
Year: 1993 ['Drama', 'Action', 'Crime']
Year: 1994 ['Drama', 'Comedy', 'Romance']
Year: 1995 ['Drama', 'Crime', 'Romance']
Year: 1996 ['Drama', 'Crime', 'Thriller']
Year: 1997 ['Drama', 'Thriller', 'Crime']
Year: 1998 ['Drama', 'Comedy', 'Crime']
Year: 1999 ['Drama', 'Comedy', 'Animation']
Year: 2000 ['Drama', 'Crime', 'Thriller']
Year: 2001 ['Drama', 'Comedy', 'Romance']
Year: 2002 ['Drama', 'Crime', 'Action']
Year: 2003 ['Drama', 'Crime', 'Action']
Year: 2004 ['Drama', 'Romance', 'Thriller']
Year: 2005 ['Drama', 'Action', 'Romance']
Year: 2006 ['Drama', 'Thriller', 'Action']
Year: 2007 ['Drama', 'Crime', 'Mystery']
Year: 2008 ['Drama', 'Action', 'Crime']
Year: 2009 ['Drama', 'Comedy', 'SciFi']
Year: 2010 ['Drama', 'Action', 'Thriller']
Year: 2011 ['Drama', 'Comedy', 'Crime']
Year: 2012 ['Drama', 'Comedy', 'Adventure']
Year: 2013 ['Drama', 'Romance', 'Action']
Year: 2014 ['Drama', 'Action', 'Comedy']
Year: 2015 ['Drama', 'Action', 'Adventure']
Year: 2016 ['Drama', 'Comedy', 'Adventure']
Year: 2017 ['Drama', 'Action', 'Adventure']
Year: 2018 ['Drama', 'Action', 'Adventure']
Year: 2019 ['Drama', 'Comedy', 'Action']
Year: 2020 ['Drama', 'Animation', 'Fantasy']
Year: 2021 ['Drama', 'Action', 'Adventure']
Year: 2022 ['Drama', 'Action', 'Adventure']
Year: 2023 ['Action', 'Adventure', 'Thriller']

## Top 3 genres by decade

In [89]:
for year in range(1920, 2024):
    
    if year%10 == 0:
        
        print("Year:", year, topK(genre_count))
        genre_count = {genre: 0 for genre in genre_keys.values()}
        continue

    for genre in genre_keys.values():
        genre_count[genre] += df.loc[df['Year of Release'] == year][genre].sum()

Year: 1920 ['Action', 'Adventure', 'Thriller']
Year: 1930 ['Drama', 'Comedy', 'Action']
Year: 1940 ['Drama', 'Comedy', 'Romance']
Year: 1950 ['Drama', 'Crime', 'Romance']
Year: 1960 ['Drama', 'Thriller', 'Crime']
Year: 1970 ['Drama', 'Comedy', 'Romance']
Year: 1980 ['Drama', 'Comedy', 'Crime']
Year: 1990 ['Drama', 'Comedy', 'Action']
Year: 2000 ['Drama', 'Comedy', 'Crime']
Year: 2010 ['Drama', 'Action', 'Thriller']
Year: 2020 ['Drama', 'Comedy', 'Action']

# Bad Words

In [90]:
df['Bad Words'].mean()

29.392

In [91]:
df['Bad Words'].describe()

count    1000.000000
mean       29.392000
std        60.316236
min        -1.000000
25%         1.000000
50%         7.000000
75%        31.000000
max       686.000000
Name: Bad Words, dtype: float64

In [92]:
genre_bad_words_avg = []
for genre in genre_keys.values():
    genre_bad_words_avg.append((genre, df.loc[df[genre] == 1]['Bad Words'].mean()))
    
genre_bad_words_avg.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_bad_words_avg:
    print("{:12s} {:3.2f}".format(genre, total))

Crime        58.05
Music        54.67
Western      46.44
Thriller     37.48
Action       32.85
History      31.99
Drama        31.82
Comedy       28.71
Mystery      21.16
War          21.05
Horror       20.19
SciFi        20.10
Romance      14.74
Adventure    13.44
Fantasy      10.79
Animation    9.36
Documentary  6.50
TV           4.50
Family       4.41