# Statistics

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("added_features.csv", index_col = False)

In [4]:
df.head()

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
0,The Shawshank Redemption,1994,142,9.3,82.0,28.34,"27,77,378","Over the course of several years, two convicts...","(278, [18, 80])",278.0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,175,9.2,100.0,134.97,"19,33,588","Don Vito Corleone, head of a mafia family, dec...","(238, [18, 80])",238.0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,2008,152,9.0,84.0,534.86,"27,54,087",When the menace known as the Joker wreaks havo...,"(155, [18, 28, 80, 53])",155.0,...,0,0,0,0,0,0,0,1,0,0
3,Schindler's List,1993,195,9.0,95.0,96.9,"13,97,886","In German-occupied Poland during World War II,...","(424, [18, 36, 10752])",424.0,...,1,0,0,0,0,0,0,0,1,0
4,12 Angry Men,1957,96,9.0,97.0,4.36,"8,24,211",The jury in a New York City murder trial is fr...,"(389, [18])",389.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.describe()

,Watch Time,Movie Rating,Metascore of movie,TMDB_Id,Action,Adventure,Animation,Comedy,Crime,Documentary,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
count,1000.000000,1000.000000,845.000000,9.930000e+02,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000
mean,124.253000,7.970200,79.011834,1.149451e+05,0.185000,0.158000,0.081000,0.219000,0.188000,0.004000,...,0.085000,0.037000,0.027000,0.088000,0.157000,0.091000,0.002000,0.2000,0.076000,0.025000
std,28.800355,0.275732,11.973800,2.152426e+05,0.388492,0.364924,0.272972,0.413776,0.390908,0.063151,...,0.279021,0.188856,0.162164,0.283437,0.363983,0.287753,0.044699,0.4002,0.265131,0.156203
min,45.000000,7.600000,28.000000,1.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
25%,103.000000,7.800000,71.000000,8.570000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
50%,120.000000,7.900000,80.000000,1.031500e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
75%,139.000000,8.100000,88.000000,1.004020e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
max,321.000000,9.300000,100.000000,1.131438e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.000000

In [8]:
df['Comedy'].sum()

219

In [9]:
genre_keys = {

    28       :   "Action",
    12       :   "Adventure",
    16       :   "Animation",
    35       :   "Comedy",
    80       :   "Crime",
    99       :   "Documentary",
    18       :   "Drama",
    10751    :   "Family",
    14       :   "Fantasy",
    36       :   "History",
    27       :   "Horror",
    10402    :   "Music",
    9648     :   "Mystery",
    10749    :   "Romance",
    878      :   "SciFi",
    10770    :   "TV",
    53       :   "Thriller",
    10752    :   "War",
    37       :   "Western"
    
}

## Total number of movies in each genre

In [25]:
genre_totals = []
for genre in genre_keys.values():
    genre_totals.append((genre, df[genre].sum()))
    
genre_totals.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_totals:
    print("{:12s} {:3d}".format(genre, total))

Drama        670
Comedy       219
Thriller     200
Crime        188
Action       185
Adventure    158
Romance      157
SciFi         91
Fantasy       89
Mystery       88
History       85
Animation     81
Family        78
War           76
Horror        37
Music         27
Western       25
Documentary    4
TV             2

In [26]:
df.loc[df['TV'] == 1]

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
485,Mulholland Dr.,2001,147,7.9,86.0,7.22,"3,70,038",After a car wreck on the winding Mulholland Dr...,"(185789, [53, 10770, 18, 9648])",185789.0,...,0,0,0,1,0,0,1,1,0,0
842,Der Name der Rose,1986,130,7.7,54.0,7.15,"1,12,550",An intellectually nonconformist friar investig...,"(776669, [99, 10770])",776669.0,...,0,0,0,0,0,0,1,0,0,0

In [28]:
df.loc[df['Drama'] == 1]['Watch Time'].sum()

85154

## Total watchtime per genre

In [35]:
genre_watchtime = []
for genre in genre_keys.values():
    genre_watchtime.append((genre, df.loc[df[genre] == 1]['Watch Time'].sum()))
    
genre_watchtime.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_watchtime:
    print("{:12s} {:3d}".format(genre, total))

Drama        85154
Thriller     24869
Action       24865
Comedy       24726
Crime        23735
Adventure    20278
Romance      19312
History      12006
SciFi        11150
Mystery      10925
Fantasy      10620
War          10203
Animation    8191
Family       8150
Horror       4033
Music        3295
Western      3255
Documentary  512
TV           277

In [34]:
df["Watch Time"].sum()

124253

In [41]:
df.loc[df['Action'] == 1]["Watch Time"].mean()

134.40540540540542

## Average watchtime per genre

In [44]:
genre_watchtime_avg = []
for genre in genre_keys.values():
    genre_watchtime_avg.append((genre, df.loc[df[genre] == 1]['Watch Time'].mean()))
    
genre_watchtime_avg.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_watchtime_avg:
    print("{:12s} {:3.2f}".format(genre, total))

History      141.25
TV           138.50
Action       134.41
War          134.25
Western      130.20
Adventure    128.34
Documentary  128.00
Drama        127.10
Crime        126.25
Thriller     124.34
Mystery      124.15
Romance      123.01
SciFi        122.53
Music        122.04
Fantasy      119.33
Comedy       112.90
Horror       109.00
Family       104.49
Animation    101.12

## Correlation between animation and Family

In [77]:
df[['Family', 'Animation']].corr()

             Family  Animation
Family     1.000000   0.610688
Animation  0.610688   1.000000

In [65]:
df.loc[(df['Family'] == 1) & (df['Animation'] == 0)].shape[0]

27

In [60]:
from sklearn.metrics import confusion_matrix

In [86]:
conf = confusion_matrix(df['Family'], df['Animation'])
print("Not Animation, Not Familly: ", conf[0][0])
print("Yes Animation, Not Familly: ", conf[0][1])
print("Not Animation, Yes Familly: ", conf[1][0])
print("Yes Animation, Yes Familly: ", conf[1][1])

Not Animation, Not Familly:  892
Yes Animation, Not Familly:  30
Not Animation, Yes Familly:  27
Yes Animation, Yes Familly:  51

## Metascore vs Rating

In [93]:
genre_rating_avg = []
for genre in genre_keys.values():
    genre_rating_avg.append((genre, df.loc[df[genre] == 1]['Movie Rating'].mean()))
    
genre_rating_avg.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_rating_avg:
    print("{:12s} {:3.2f}".format(genre, total))

War          8.01
Action       8.00
Crime        7.99
SciFi        7.99
Adventure    7.99
History      7.99
Fantasy      7.98
Drama        7.98
Western      7.98
Mystery      7.96
Documentary  7.95
Family       7.95
Thriller     7.94
Animation    7.94
Horror       7.93
Romance      7.93
Comedy       7.92
Music        7.91
TV           7.80

In [94]:
genre_metascore_avg = []
for genre in genre_keys.values():
    genre_metascore_avg.append((genre, df.loc[df[genre] == 1]['Metascore of movie'].mean()))
    
genre_metascore_avg.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_metascore_avg:
    print("{:12s} {:3.2f}".format(genre, total))

Romance      80.96
Western      80.96
War          80.73
Horror       80.58
History      80.39
Animation    80.35
Family       80.29
Drama        79.47
Mystery      79.44
Fantasy      78.97
Comedy       78.84
Thriller     77.59
Adventure    77.52
Crime        76.92
Music        76.35
SciFi        75.95
Documentary  75.25
Action       73.81
TV           70.00

In [75]:
df[['Metascore of movie', 'Movie Rating']].corr()

                    Metascore of movie  Movie Rating
Metascore of movie             1.00000       0.25697
Movie Rating                   0.25697       1.00000

In [85]:
gt = df.loc[df['Metascore of movie'] > df['Movie Rating'] * 10].shape[0]
lt = df.loc[df['Metascore of movie'] < df['Movie Rating'] * 10].shape[0]
eq = df.loc[df['Metascore of movie'] == df['Movie Rating'] * 10].shape[0]

print("Instances with Metascore greater than Rating:  {}".format(gt))
print("Instances with Metascore less than Rating:     {}".format(lt))
print("Instances with Metascore equal to Rating:      {}".format(eq))

Instances with Metascore greater than Rating:  424
Instances with Metascore less than Rating:     391
Instances with Metascore equal to Rating:      30

In [ ]:
## TODO REMOVE THE NULLS SOMEHOW

In [92]:
df.isnull().sum()

Movie Name              0
Year of Release         0
Watch Time              0
Movie Rating            0
Metascore of movie    155
Gross                 162
Votes                   0
Description             0
Ids                     0
TMDB_Id                 7
TMDB_Genre              7
Action                  0
Adventure               0
Animation               0
Comedy                  0
Crime                   0
Documentary             0
Drama                   0
Family                  0
Fantasy                 0
History                 0
Horror                  0
Music                   0
Mystery                 0
Romance                 0
SciFi                   0
TV                      0
Thriller                0
War                     0
Western                 0
dtype: int64

In [97]:
genre_year_avg = []
for genre in genre_keys.values():
    genre_year_avg.append((genre, df.loc[df[genre] == 1]['Year of Release'].mean()))
    
genre_year_avg.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_year_avg:
    print("{:12s} {}".format(genre, total))

TypeError: Could not convert 20082003202320102001200219991980202220201991197719542000199420122018198120191986201820192019202219951995198319832016202220222022202120182005202119892003198820052020201219692018201719751924201820192017201320232015200319842019201720111986I 2013195919971976192619581955201020151975202320142016201220042005200619682004200619882007200819862002201520071962201420102009202220212009201420082009201719931980200220142006200019932014193319802017I 2001I 201520162017202320222019199319842022200720061987201220152012I 2008201620031993201320142013200520142021197320141978200619932008200119892018201520042014200120132001199219991982200419711960197119641982199819621967196420101992193220002009201720062018198719972010200220082005197319871995198120112014200619742009 to numeric