# Statistics

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("added_features.csv", index_col = False)

In [4]:
df.head()

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
0,The Shawshank Redemption,1994,142,9.3,82.0,28.34,"27,77,378","Over the course of several years, two convicts...","(278, [18, 80])",278.0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,175,9.2,100.0,134.97,"19,33,588","Don Vito Corleone, head of a mafia family, dec...","(238, [18, 80])",238.0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,2008,152,9.0,84.0,534.86,"27,54,087",When the menace known as the Joker wreaks havo...,"(155, [18, 28, 80, 53])",155.0,...,0,0,0,0,0,0,0,1,0,0
3,Schindler's List,1993,195,9.0,95.0,96.9,"13,97,886","In German-occupied Poland during World War II,...","(424, [18, 36, 10752])",424.0,...,1,0,0,0,0,0,0,0,1,0
4,12 Angry Men,1957,96,9.0,97.0,4.36,"8,24,211",The jury in a New York City murder trial is fr...,"(389, [18])",389.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.describe()

,Watch Time,Movie Rating,Metascore of movie,TMDB_Id,Action,Adventure,Animation,Comedy,Crime,Documentary,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
count,1000.000000,1000.000000,845.000000,9.930000e+02,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000
mean,124.253000,7.970200,79.011834,1.149451e+05,0.185000,0.158000,0.081000,0.219000,0.188000,0.004000,...,0.085000,0.037000,0.027000,0.088000,0.157000,0.091000,0.002000,0.2000,0.076000,0.025000
std,28.800355,0.275732,11.973800,2.152426e+05,0.388492,0.364924,0.272972,0.413776,0.390908,0.063151,...,0.279021,0.188856,0.162164,0.283437,0.363983,0.287753,0.044699,0.4002,0.265131,0.156203
min,45.000000,7.600000,28.000000,1.100000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
25%,103.000000,7.800000,71.000000,8.570000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
50%,120.000000,7.900000,80.000000,1.031500e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
75%,139.000000,8.100000,88.000000,1.004020e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
max,321.000000,9.300000,100.000000,1.131438e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.000000

In [8]:
df['Comedy'].sum()

219

In [9]:
genre_keys = {

    28       :   "Action",
    12       :   "Adventure",
    16       :   "Animation",
    35       :   "Comedy",
    80       :   "Crime",
    99       :   "Documentary",
    18       :   "Drama",
    10751    :   "Family",
    14       :   "Fantasy",
    36       :   "History",
    27       :   "Horror",
    10402    :   "Music",
    9648     :   "Mystery",
    10749    :   "Romance",
    878      :   "SciFi",
    10770    :   "TV",
    53       :   "Thriller",
    10752    :   "War",
    37       :   "Western"
    
}

In [25]:
genre_totals = []
for i in genre_keys.values():
    genre_totals.append((i, df[i].sum()))
    
genre_totals.sort(key = lambda x: x[1], reverse = True)
for genre, total in genre_totals:
    print("{:12s} {:3d}".format(genre, total))

Drama        670
Comedy       219
Thriller     200
Crime        188
Action       185
Adventure    158
Romance      157
SciFi         91
Fantasy       89
Mystery       88
History       85
Animation     81
Family        78
War           76
Horror        37
Music         27
Western       25
Documentary    4
TV             2

In [26]:
df.loc[df['TV'] == 1]

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
485,Mulholland Dr.,2001,147,7.9,86.0,7.22,"3,70,038",After a car wreck on the winding Mulholland Dr...,"(185789, [53, 10770, 18, 9648])",185789.0,...,0,0,0,1,0,0,1,1,0,0
842,Der Name der Rose,1986,130,7.7,54.0,7.15,"1,12,550",An intellectually nonconformist friar investig...,"(776669, [99, 10770])",776669.0,...,0,0,0,0,0,0,1,0,0,0