In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Top_1000_IMDb_movies_New_version.csv")

In [3]:
df.head()

,Unnamed: 0,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description
0,0,The Shawshank Redemption,1994,142,9.3,82.0,28.34,"27,77,378","Over the course of several years, two convicts..."
1,1,The Godfather,1972,175,9.2,100.0,134.97,"19,33,588","Don Vito Corleone, head of a mafia family, dec..."
2,2,The Dark Knight,2008,152,9.0,84.0,534.86,"27,54,087",When the menace known as the Joker wreaks havo...
3,3,Schindler's List,1993,195,9.0,95.0,96.9,"13,97,886","In German-occupied Poland during World War II,..."
4,4,12 Angry Men,1957,96,9.0,97.0,4.36,"8,24,211",The jury in a New York City murder trial is fr...

In [4]:
df[df['Year of Release'] == "1994"]

,Unnamed: 0,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description
0,0,The Shawshank Redemption,1994,142,9.3,82.0,28.34,"27,77,378","Over the course of several years, two convicts..."
8,8,Pulp Fiction,1994,154,8.9,95.0,107.93,"21,31,189","The lives of two mob hitmen, a boxer, a gangst..."
12,12,Forrest Gump,1994,142,8.8,82.0,330.25,"21,60,038",The history of the United States from the 1950...
45,45,LÃ©on,1994,110,8.5,64.0,19.5,"12,00,839",12-year-old Mathilda is reluctantly taken in b...
48,48,The Lion King,1994,88,8.5,88.0,422.78,"10,97,285",Lion prince Simba and his father are targeted ...
291,291,Trois couleurs: Rouge,1994,99,8.1,100.0,4.04,"1,07,010",A model discovers a retired judge is keen on i...
393,393,Chung Hing sam lam,1994,102,8.0,78.0,0.6,"89,420",Two melancholy Hong Kong policemen fall in lov...
471,471,Andaz Apna Apna,1994,160,8.0,NaN,NaN,"54,402",Two slackers competing for the affections of a...
547,547,Once Were Warriors,1994,102,7.9,77.0,2.2,"35,797",A family descended from Maori warriors is bede...
695,695,Ed Wood,1994,127,7.8,70.0,5.89,"1,80,542",Ambitious but troubled movie director Edward D...
734,734,Il postino,1994,108,7.8,81.0,21.85,"37,976",A simple Italian postman learns to love poetry...
847,847,Clerks,1994,92,7.7,70.0,3.15,"2,28,218",A day in the lives of two convenience clerks n...

In [5]:
from TMDB_query_single import getID

(420818, [12, 18, 10751, 16])

In [6]:
getID('Forrest Gump')

(13, [35, 18, 10749])

In [7]:
genre_keys = {

    28       :   "Action",
    12       :   "Adventure",
    16       :   "Animation",
    35       :   "Comedy",
    80       :   "Crime",
    99       :   "Documentary",
    18       :   "Drama",
    10751    :   "Family",
    14       :   "Fantasy",
    36       :   "History",
    27       :   "Horror",
    10402    :   "Music",
    9648     :   "Mystery",
    10749    :   "Romance",
    878      :   "SciFi",
    10770    :   "TV",
    53       :   "Thriller",
    10752    :   "War",
    37       :   "Western"
    
}

In [8]:
for i in [35, 18, 10749]:
    print(genre_keys[i])

Comedy
Drama
Romance

In [9]:
df['Ids'] = df['Movie Name'].apply(getID)

In [10]:
df['Ids']

0                 (278, [18, 80])
1                 (238, [18, 80])
2         (155, [18, 28, 80, 53])
3          (424, [18, 36, 10752])
4                     (389, [18])
                  ...
995                (205220, [18])
996    (2841, [18, 10749, 10752])
997                  (7863, [18])
998      (1131438, [53, 27, 878])
999         (33273, [28, 53, 18])
Name: Ids, Length: 1000, dtype: object

tuple