In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("added_features.csv")
df.head()

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
0,The Shawshank Redemption,1994,142,9.3,82.0,28.34,"27,77,378","Over the course of several years, two convicts...","(278, [18, 80])",278.0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,175,9.2,100.0,134.97,"19,33,588","Don Vito Corleone, head of a mafia family, dec...","(238, [18, 80])",238.0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,2008,152,9.0,84.0,534.86,"27,54,087",When the menace known as the Joker wreaks havo...,"(155, [18, 28, 80, 53])",155.0,...,0,0,0,0,0,0,0,1,0,0
3,Schindler's List,1993,195,9.0,95.0,96.9,"13,97,886","In German-occupied Poland during World War II,...","(424, [18, 36, 10752])",424.0,...,1,0,0,0,0,0,0,0,1,0
4,12 Angry Men,1957,96,9.0,97.0,4.36,"8,24,211",The jury in a New York City murder trial is fr...,"(389, [18])",389.0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df_dogs = df.loc[df['Description'].str.contains('dog', case=False)]
df_dogs

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
205,Umberto D.,1952,89,8.2,92.0,0.07,"27,087",An elderly man and his dog struggle to survive...,"(833, [18])",833.0,...,0,0,0,0,0,0,0,0,0,0
235,The Wizard of Oz,1939,102,8.1,92.0,2.08,"4,14,083",Young Dorothy Gale and her dog Toto are swept ...,"(630, [12, 14, 10751])",630.0,...,0,0,0,0,0,0,0,0,0,0
263,Hachi: A Dog's Tale,2009,93,8.1,NaN,236,"2,98,283",A college professor bonds with an abandoned do...,"(28178, [18, 10751])",28178.0,...,0,0,0,0,0,0,0,0,0,0
540,Togo,2019,113,7.9,69.0,NaN,"52,579","The story of Togo, the sled dog who led the 19...","(884363, [80, 18])",884363.0,...,0,0,0,0,0,0,0,0,0,0
651,Isle of Dogs,2018,101,7.8,82.0,32.02,"1,81,265","Set in Japan, Isle of Dogs follows a boy's ody...","(399174, [12, 35, 16])",399174.0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df_dogs = df_dogs[df['Movie Name'] != "The Wizard of Oz"]
df_dogs

/var/folders/9s/wjp86gfn3yl56f5kv0hr0_fr0000gn/T/ipykernel_726/176058911.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_dogs = df_dogs[df['Movie Name'] != "The Wizard of Oz"]

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
205,Umberto D.,1952,89,8.2,92.0,0.07,"27,087",An elderly man and his dog struggle to survive...,"(833, [18])",833.0,...,0,0,0,0,0,0,0,0,0,0
263,Hachi: A Dog's Tale,2009,93,8.1,NaN,236,"2,98,283",A college professor bonds with an abandoned do...,"(28178, [18, 10751])",28178.0,...,0,0,0,0,0,0,0,0,0,0
540,Togo,2019,113,7.9,69.0,NaN,"52,579","The story of Togo, the sled dog who led the 19...","(884363, [80, 18])",884363.0,...,0,0,0,0,0,0,0,0,0,0
651,Isle of Dogs,2018,101,7.8,82.0,32.02,"1,81,265","Set in Japan, Isle of Dogs follows a boy's ody...","(399174, [12, 35, 16])",399174.0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df[df['Movie Name'] == 'Up']

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
109,Up,2009,96,8.3,88.0,293,"10,81,937",78-year-old Carl Fredricksen travels to Paradi...,"(14160, [16, 35, 10751, 12])",14160.0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df[df['Comedy'] == 1]

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description,Ids,TMDB_Id,...,History,Horror,Music,Mystery,Romance,SciFi,TV,Thriller,War,Western
12,Forrest Gump,1994,142,8.8,82.0,330.25,"21,60,038",The history of the United States from the 1950...,"(13, [35, 18, 10749])",13.0,...,0,0,0,0,1,0,0,0,0,0
16,777 Charlie,2022,136,8.8,NaN,NaN,"35,870",Dharma is stuck in a rut with his negative and...,"(634120, [12, 35, 18])",634120.0,...,0,0,0,0,0,0,0,0,0,0
33,La vita è bella,1997,116,8.6,59.0,57.6,"7,17,512",When an open-minded Jewish waiter and his son ...,"(637, [35, 18])",637.0,...,0,0,0,0,0,0,0,0,0,0
39,Back to the Future,1985,116,8.5,87.0,210.61,"12,53,518","Marty McFly, a 17-year-old high school student...","(105, [12, 35, 878])",105.0,...,0,0,0,0,0,1,0,0,0,0
51,The Intouchables,2011,112,8.5,57.0,13.18,"8,90,758",After he becomes a quadriplegic from a paragli...,"(77338, [18, 35])",77338.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,Despicable Me,2010,95,7.6,72.0,251.51,"5,65,343",When a criminal mastermind uses a trio of orph...,"(20352, [10751, 16, 35])",20352.0,...,0,0,0,0,0,0,0,0,0,0
972,Rushmore,1998,93,7.6,86.0,17.11,"1,92,763",A teenager at Rushmore Academy falls for a muc...,"(11545, [35, 18])",11545.0,...,0,0,0,0,0,0,0,0,0,0
987,Sabrina,1954,113,7.6,72.0,NaN,"68,022",A playboy becomes interested in the daughter o...,"(6620, [35, 10749])",6620.0,...,0,0,0,0,1,0,0,0,0,0
990,50/50,2011,100,7.6,72.0,35.01,"3,37,291","Inspired by a true story, a comedy centered on...","(40807, [35, 18])",40807.0,...,0,0,0,0,0,0,0,0,0,0
991,Barton Fink,1991,116,7.6,69.0,6.15,"1,26,032",A renowned New York playwright is enticed to C...,"(290, [35, 18])",290.0,...,0,0,0,0,0,0,0,0,0,0